{% extends "::base.html.twig" %}

{% block title %}NavCityApiBundle:Welcome:index{% endblock %}

{% block body %}
    <h1>{{ 'Results for:'|trans }} {{ term }}</h1>

    <p>{{ 'Please click marker to see short description'|trans }}</p>

    {{ google_map_container(map) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ google_map_css(map) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ google_map_js(map) }}
{% endblock %}
