<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="hero-unit">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <!-- Be sure to leave the brand out there if you want it shown -->
                <a class="brand" href="{{ url('navcity_api_welcome_index') }}">
                    <img src="{{ asset('apple-touch-icon.png') }}" width="27"> NavCity
                </a>

                <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="nav-collapse">
                    <form class="navbar-search pull-left" method="POST"
                          action="{{ url('navcity_api_search_form') }}">
                        <input type="text" class="search-query span5"
                               placeholder="{{ 'Search'|trans }}" name="term">
                    </form>
                </div>

            </div>
        </div>
    </div>


    {% block body %}{% endblock %}

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
